<ion-view view-title="登录">
  <ion-header-bar align-title="center" style="background:#44A8FA;">
  <yike-back style="color:#fff;"></yike-back>
  <h1 class="title" style="color:#fff;">登录</h1>
 </ion-header-bar>
  <ion-content id="login">
    <div>
      <img src="img/login/login.png" style="width:60%;display:block;margin:40px auto">
    </div>
    <div>
      <button class="register" ui-sref="register">注册</button>
    </div>
    <div>
      <button class="login" ui-sref="login-page">登录</button>
    </div>
  </ion-content>
</ion-view>