<ion-modal-view id="list-modal">
    <div ng-bind-html="cont">

    </div>
    <!-- 叉子的标记 -->
    <!--<div class="cha"  ng-click="closeModal()">-->
        <!--<img src="img/teacher/cha.png" style="width:100%;">-->
    <!--</div>-->
    <!-- 区域的选择 -->
    <!--<div class="area">-->
        <!--<div style="border-bottom:1px solid #ddd;padding:10px 0px" class="area-box">-->
            <!--<span ng-repeat="tit in subject.title"  ng-bind="tit.name" ng-class="selec==tit.id?'activ':''" ng-click="selectChoose(tit)">全部</span>-->
            <!--&lt;!&ndash;           <span  ng-class="selec==1?'activ':''" ng-click="selectChoose(1)">我关注的</span> &ndash;&gt;-->
        <!--</div>-->

        <!--<div class="geo">-->
            <!--<span ng-repeat="sub in subject.subject" ng-bind="sub.name" ng-click="choseSubject(sub)"   ng-class="sub.checked?'activ':''" >语文</span>&nbsp;&nbsp;-->
        <!--</div>-->
        <!--<div style="padding-left:10px;border-top:1px solid #eee">-->
            <!--<p style="padding-top:10px">性别</p>-->
            <!--<div style="padding-bottom:10px;">-->
                <!--<span style="margin:0 20px;" ng-repeat="subsex in subject.sex" ng-bind="subsex.name" ng-class="state==subsex.id?'boy':''" ng-click="choose(subsex)">男</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row" style="padding:0px;border-top:1px solid #eee;margin-top:20px">-->
            <!--<span class="col" ng-class="xtime==0?'color-red':''" style="text-align:center;border-right:1px solid #eee;padding:10px 0px" ng-click="searchGo(0)">清空筛选条件</span>-->
            <!--<span class="col" ng-class="xtime==1?'color-red':''" style="text-align:center;padding:10px 0px" ng-click="searchGo(1)">确定</span>-->
        <!--</div>-->
    <!--</div>-->
</ion-modal-view>