<ion-view view-title="预约完成">
  <ion-header-bar align-title="center" style="background:#FFB295;">
  <yike-back style="color:#fff;"></yike-back>
  <h1 class="title" style="color:#fff;">预约完成</h1>
  </ion-header-bar>
  <ion-content  id="teacher-complete">
      <div style="background:#F9EED7;padding:30px 0px">
      <div style="width:40%;margin:0 auto">
        <img src="img/teacher/complete.png" style="width:100%">
      </div>
      </div>
      <div>
        <div style="position:relative;height:10px">
          <img src="img/teacher/subject.png" style="width:26%;position:absolute;bottom:12%">
        </div>
      <div style="padding:10px;">
        <div style="position:relative">
        <div style="width:60px;height:60px;boder-radius:50%">
          <img src="img/teacher/avatar1.png" style="width:100%">
        </div>
        <span class="name">李晓杰</span>
        </div>
      </div>
      <div style="padding-top:20px">
        <img src="img/teacher/study-subject.png" style="width:26%">
      </div>
      <div style="padding:10px">
        <div>
          <span class="math">数学</span>
        </div>
      </div>
      <div style="padding-top:20px">
        <img src="img/teacher/subject-time.png" style="width:26%">
      </div>
      <div style="padding:10px">
        <div>
          <p style="margin-top:20px">课程数量&nbsp;:&nbsp;<i>6期</i></p>
          <p>课程时间&nbsp;:&nbsp;<i>周日</i>&nbsp;<i>上午</i>&nbsp;<i>08:30-09:45</i></p>
        </div>
      </div>
       <div style="padding-top:20px">
        <img src="img/teacher/address.png" style="width:26%">
      </div>
      <div style="padding:10px">
        <div>
          <p style="margin-top:20px">天津市和平区锦州道132号</p>
        </div>
      </div>
       <div>
        <button class="back" ng-click="yutian()">返回首页</button>
      </div>
  </ion-content>
</ion-view>
