<ion-view view-title="我的收入">
 <ion-header-bar align-title="center" style="background:#F08080;">
  <yike-back style="color:#fff;"></yike-back>
  <h1 class="title" style="color:#fff;">我的收入</h1>
 </ion-header-bar>
  <ion-content id="my-income">
  	<!-- 我的收入 -->
  	<div class="income">
        <span style="color: #F08080;display: block;margin: 10px;font-size: 18px;">我的收入</span>
  	</div>

    <div class="cont">
      <div class="cost">
        <p style="padding-top: 15px;font-size: 18px">账户余额</p>
        <p style="padding: 5px 0 15px;font-size: 28px;border-bottom: 1px solid #fff;">¥<span ng-bind="come.balance">6820.22</span></p>
        <button ng-click="openMod()">提取现金</button>
      </div>
      <div class="add">
        <div class="bank">
          <p>我的银行卡</p><img src="img/tabs/jiahao.png" ng-click="openModal()">
        </div>
        <div class="car" ng-repeat="list in lists">
          <p><span ng-bind="list.card_name">中国银行</span>：<span ng-bind="list.card_number">22232225555555</span></p><i class="ion-trash-a" ng-click="delBank(list)"></i>
        </div>
      </div>
    </div>
      <p ng-show="stat==0" style="text-align: center;margin: 60px 0;">没有添加银行卡！</p>

  </ion-content>
</ion-view>