<ion-view view-title="我的相册">
 <ion-header-bar align-title="center" style="background:#F08080;">
  <yike-back style="color:#fff;"></yike-back>
  <h1 class="title" style="color:#fff;">我的相册</h1>
</ion-header-bar>
<ion-content id="my-photo">
  <!-- 我的相册标签 -->
  <div class="subject">
    <span>
       <span style="color: #F08080;display: block;margin: 10px;font-size: 18px;">我的相册</span>
    </span>
  </div>
  <div class="banner">
    <img src="img/my/xcbj.jpg">
  </div>
  <div class="cont">
    <div class="col-45" ng-repeat="photo in photos">
      <img ng-src="{{photo.imgurl}}">
    </div>
    <div class="col-45 add">
        <img src="img/my/jia.png" ng-click="upload()">
        <input type="file" id="file">
    </div>
  </div>

</ion-content>
</ion-view>

